#about {
	padding-bottom: 60px;
	.about__top {
		@include flex(space-between, flex-start);
		flex-wrap: wrap;
	}
	.about__block {
		max-width: 725px;
		width: 100%;
		order: 1;
		margin: 65px auto 66px;
	}
	.about__text {
		font-family: $SF_Pro_Bold, sans-serif;
		font-size: 24px;
		line-height: 28px;
		margin-bottom: 32px;
	}
	.about__specialization {
		@include flex(flex-start, flex-start);
	}
	.about__specialization-symbol {
		font-size: 12px;
		line-height: 20px;
		word-break: normal;
	}
	.about__specialization-text {
		font-family: $SF_Pro_Bold, sans-serif;
		font-size: 24px;
		line-height: 28px;
		color: rgba(255, 255, 255, 0.44);
		max-width: 486px;
		width: 100%;
		margin-left: 58px;
	}
	.about__copy {
		font-family: $SF_Pro_Bold, sans-serif;
		font-size: 12px;
		line-height: 28px;
		margin-top: 8px;
	}

	@include table {
		padding-bottom: 150px;
		.about__text {
			font-size: 32px;
			line-height: 40px;
		}
		.about__specialization-symbol {
			font-size: 16px;
		}
		.about__specialization-text {
			font-size: 32px;
			line-height: 40px;
			margin-left: 126px;
		}
		.about__copy {
			font-size: 15px;
			margin-top: 22px;
		}
	}

	@include desktop-sm {
		.about__items {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 20px;
		}
		.about__title {
			width: 50%;
		}
	}

	@media screen and (min-width: 1275px) {
		padding-bottom: 200px;
		.about__title {
			width: auto;
		}
		.about__top {
			margin-bottom: 180px;
		}
		.about__block {
			order: 0;
			margin: 15px 70px 0;
		}
	}
}
