#contact-us {
	padding: 88px 0 25px;
	border-radius: 60px 60px 0px 0px;
	background-color: $red;
	text-align: center;
	.contact-us__inner {
		margin-top: 38px;
	}
	.contact-us__form {
		margin-bottom: 125px;
	}
	.contact-us__socials {
		font-family: $SF_Pro_Bold, sans-serif;
		font-size: 16px;
		line-height: 24px;
		color: $black;
		margin-bottom: 15px;
	}
	.contact-us__docs {
		font-family: $SF_Pro_Bold, sans-serif;
		font-size: 16px;
		line-height: 24px;
		color: $black;
	}
	.contact-us__doc {
		display: none;
	}
	.contact-us__copy {
		color: rgba(0, 0, 0, 0.28);
	}
	
	@include table {
		padding: 170px 0 20px;
		.contact-us__inner {
			margin-top: 121px;
		}
		.contact-us__form {
			margin-bottom: 228px;
		}
		.contact-us__link {
			margin: 88px auto 198px;
		}
		.contact-us__socials {
			max-width: 371px;
			width: 100%;
			margin: 0 auto 20px;
			font-size: 20px;
		}
		.contact-us__docs {
			max-width: 561px;
			width: 100%;
			margin: 0 auto;
			@include flex(space-between);
		}
		.contact-us__doc {
			display: block;
		}
	}

	@include desktop {
		padding: 117px 0 35px;
		.contact-us__link {
			margin: 114px auto 230px;
		}
		.contact-us__bottom {
			@include flex(space-between);
		}
		.contact-us__socials {
			text-align: left;
		}
		.contact-us__socials,
		.contact-us__docs {
			margin: 0;
		}
	}
}
