#header {
	padding-top: 21px;
	position: fixed;
	z-index: 999;
	top: 0;
	right: 0;
	left: 0;
	transition: $transition;
	&::before {
		display: none;
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		z-index: -1;
		backdrop-filter: blur(4px);
		background-color: rgba($black, 0.3);
	}
	&.active {
		position: fixed;
		padding-top: 10px;
		padding-bottom: 10px;
		&::before {
			display: block;
		}
	}
	.header__inner {
		@include flex(space-between);
    position: relative;
	}
	.logo {
		@include flex(flex-start);
		word-break: normal;
		cursor: pointer;
		width: 98px;
		height: 34px;
	}
	.logo__subtitle {
    font-family: $SF_Pro_Medium, sans-serif;
		font-size: 12px;
		line-height: 12px;
		padding-left: 17px;
		width: 88px;
	}

  @include desktop-sm {
    padding-top: 33px;
    .logo {
      width: 128px;
			height: 44px;
    }
    .logo__subtitle {
      font-size: 16px;
      line-height: 16px;
      width: 115px;
    }
  }
}
