#header {
	padding-top: 13px;
	position: absolute;
	z-index: 999;
	top: 0;
	right: 0;
	left: 0;

	.header__inner {
		@include flex(space-between);
    position: relative;
	}
	.logo {
		@include flex(flex-start);
		word-break: normal;
		cursor: pointer;
		width: 98px;
		height: 34px;
	}
	.logo__subtitle {
    font-family: $SF_Pro_Medium, sans-serif;
		color:rgba(25, 25, 25, 1);
		font-size: 12px;
		line-height: 12px;
		padding-left: 17px;
		width: 88px;
	}

  @include desktop-sm {
    padding-top: 28px;
    .logo {
      width: 128px;
			height: 44px;
    }
    .logo__subtitle {
      font-size: 16px;
      line-height: 16px;
      width: 115px;
    }
  }
}
