#order {
	position: relative;
	padding: 100px 0 87px;
	.order__title {
		margin-bottom: 54px;
		text-align: center;
	}
	.order__form {
		max-width: 523px;
		width: 100%;
		margin: 0 auto 60px;
	}
	.order__line {
		position: absolute;
		right: -113px;
		top: 10px;
		z-index: -1;
		svg {
			width: 232px;
			height: 127px;
			stroke-dashoffset: 17000;
			stroke-dasharray: 17000;
			&.animate {
				animation: animLine 10s linear forwards;
			}
		}
	}
	.order__btn {
		width: 100%;
		background: linear-gradient(
			200deg,
			rgb(255, 211, 82) 0%,
			rgb(239, 66, 85) 25%,
			rgb(153, 50, 194) 75%,
			rgb(76, 95, 201) 100%
		);
		text-align: center;
		padding: 14px 0;
		margin-bottom: 27px;
	}
	.order__text {
		max-width: 545px;
		width: 100%;
		margin: 0 auto;
		text-align: center;
		a {
			background: $gradient;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}

	@include table {
		padding: 140px 0 177px;
		.order__title {
			margin-bottom: 54px;
		}
		.order__text {
			max-width: 665px;
		}
		.order__form {
			max-width: 823px;
			margin: 0 auto 85px;
		}
		.order__line {
			right: -30px;
			top: 10px;
			svg {
				width: 248px;
				height: 200px;
			}
		}
		.order__btn {
			margin-bottom: 35px;
		}
	}
	@include desktop {
		padding: 179px 0 257px;
		.order__text {
			max-width: 775px;
		}
		.order__form {
			max-width: 1023px;
			margin: 0 auto 107px;
		}
		.order__line {
			right: 0;
			top: -25px;
			svg {
				width: 298px;
				height: 255px;
			}
		}
	}
}
