#preview {
	height: 100vh;
	background-color: rgba(225, 233, 255, 1);
	.preview__bg {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		width: 100%;
		min-width: 918px;
		max-width: 1650px;
	}
	.preview__inner {
		height: 100vh;
		@include flex();
	}
	.preview__main {
		text-align: center;
		position: relative;
	}
	.preview__title {
		color: rgba(25, 25, 25, 1);
		font-size: 36px;
		line-height: 44px;
		max-width: 395px;
		width: 100%;
		margin: 0 auto 139px;
		opacity: 0;
		animation: fadeIn 1s forwards 0.5s;
	}
	.preview__subtitle {
		font-family: $NazarroHandExt, sans-serif;
		font-size: 32.45px;
		line-height: 14.32px;
		letter-spacing: -0.1em;
		max-width: 208px;
		width: 100%;
		position: absolute;
		bottom: 184px;
		right: 41px;
		transform: rotate($rotate);
		opacity: 0;
		animation: fadeIn 1s forwards 1s;
	}
	.preview__link {
		opacity: 0;
		animation: fadeIn 1s forwards 1.5s;
	}
	.preview__link--desktop {
		display: none;
	}

	@media screen and (min-width: 385px) {
		.preview__title {
			font-size: 40px;
		}
	}

	@include table {
		.preview__link--mobile {
			display: none;
		}
		.preview__link--desktop {
			display: inline-block;
		}
	}

	@include table {
		.preview__inner {
			align-items: flex-start;
		}
		.preview__main {
			top: 190px;
		}
		.preview__title {
			max-width: 680px;
			font-size: 70px;
			line-height: 70px;
		}
		.preview__subtitle {
			font-size: 56.21px;
			line-height: 28.11px;
			max-width: 362px;
			bottom: 163px;
			right: 35px;
		}
	}

	@include desktop {
		.preview__title {
			max-width: 846px;
			font-size: 96px;
			line-height: 96px;
			margin-bottom: 90px;
		}
		.preview__subtitle {
			bottom: 125px;
		}
	}
}
