#requests {
	margin-bottom: 126px;

	.requests__inner {
		padding: 253px 0 296px;
		position: relative;
	}
	.requests__title-wrapper {
		@include flex();
	}
	.requests__title {
		font-family: $SF_Pro_Bold, sans-serif;
		font-size: 32px;
		line-height: 32px;
		max-width: 166px;
		width: 100%;
		text-align: center;
		position: relative;
	}
	.requests__subtitle {
		font-family: $NazarroHandExt, sans-serif;
		font-size: 44px;
		line-height: 19.09px;
		letter-spacing: -0.1em;
		transform: rotate($rotate);
		position: absolute;
		bottom: -17px;
		right: 11px;
	}

	@include table {
		margin-bottom: 356px;
		.requests__title {
			font-size: 40px;
			line-height: 36px;
			max-width: 196px;
		}
	}
}
