#services {
  padding: 52px 0;
  .services__blocks {
    @include flex();
    flex-direction: column;
  }
	.services__block {
		position: relative;
		margin-bottom: 102px;
	}
  .services__block-title {
    background: $gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin-bottom: 16px;
  }
  .services__block-list {
    max-width: 267px;
    margin: 0 auto;
    width: 100%;
  }
  .services__block-item {
    position: relative;
		padding-left: 15px;
		&::before {
			content: "";
			background-color: $white;
			position: absolute;
			top: 5px;
			left: 0;
			width: 4px;
			height: 4px;
			border-radius: 50%;
		}
  }
	.services__block-line {
		position: absolute;
		top: -70px;
    left: -33px;
		svg {
			stroke-dashoffset: 1700;
      stroke-dasharray: 1700;
      &.animate {
				animation: animLine 3s linear forwards;
      }
		}
	}
	.services__block:nth-child(2) .services__block-line {
		position: absolute;
		top: -37px;
	}
  .services__block-line--mobile {
    display: block;
  }
  .services__block-line--desktop {
    display: none;
  }
	.services__main {
		color: $yellow;
		margin-top: 15px;
	}
	.services__main-title {
		margin-bottom: 40px;
		text-align: center;
	}
	.services__main-text {
		max-width: 346px;
		width: 100%;
		margin: 0 auto;
		font-family: "PTSansNarrow_Bold", sans-serif;
	}
}
