#team {
	position: relative;
	.team__bg {
		position: absolute;
	}
	.team__bg--mobile {
		bottom: 80px;
		right: -10px;
		width: 245px;
		height: 713px;
		object-fit: contain;
	}
	.team__bg--desktop {
		display: none;
	}
	.team__title {
		text-align: center;
		margin-bottom: 79px;
	}
	.team__items {
		position: relative;
	}
	.team__items-block {
		display: flex;
		justify-content: center;
		gap: 10px;
	}
	.team__items-block:first-child {
		align-items: flex-end;
	}
	.team__items-block:nth-child(2) {
		align-items: flex-start;
		margin-top: 40px;
	}
	.team__items--desktop {
		display: none;
	}

	@media screen and (min-width: 360px) {
		.team__items-block {
			gap: 20px;
		}
	}

	@include table {
		.team__bg--mobile {
			display: none;
		}
		.team__bg--desktop {
			display: block;
			bottom: 68px;
			left: 50%;
			transform: translateX(-50%);
			max-width: 1920px;
			width: 100%;
		}
		.team__title {
			margin-bottom: 89px;
		}
	}

	@media screen and (min-width: 1410px) {
		.team__items--mobile {
			display: none;
		}
		.team__items--desktop {
			height: 1053px;
			@include flex(space-between, flex-start);
		}
	}
}
