#telegram {
	padding: 257px 0;
	.telegram__inner {
		max-width: 615px;
		width: 100%;
		margin: 0 auto;
		text-align: center;
	}
	.telegram__title-wrapper {
		display: inline-block;
		position: relative;
	}
	.telegram__title {
		font-family: $SF_Pro_Bold, sans-serif;
		font-size: 40px;
		line-height: 40px;
		color: rgba(255, 251, 251, 1);
		margin-bottom: 53px;
	}
	.telegram__subtitle {
		font-family: $NazarroHandExt, sans-serif;
		font-size: 64.33px;
		line-height: 18.83px;
		letter-spacing: -0.1em;
		position: absolute;
		left: -6px;
		top: 34px;
	}
	.telegram__text {
		margin-bottom: 121px;
	}

	@include table {
		padding: 460px 0 360px;
	}

	@media screen and (max-width: 375px) {
		.telegram__title {
			font-size: 33px;
		}
		.telegram__subtitle {
			font-size: 54px;
		}
	}
}
