#telegram {
	padding-bottom: 180px;
	.telegram__inner {
		padding: 150px 0 200px;
		position: relative;
	}
	.telegram__img {
		min-width: 689px;
		height: 758px;
		top: 55%;
		left: 50%;
		transform: translateY(-50%) translateX(-50%);
		position: absolute;
		z-index: -1;
		object-fit: contain;
		&.animate {
			animation: zoom 3s linear forwards;
		}
	}
	.telegram__main {
		text-align: center;
	}
	.telegram__title {
		max-width: 368px;
		width: 100%;
		margin: 0 auto;
		margin-bottom: 24px;
		span {
			display: block;
		}
		.br-desktop {
			display: none;
		}
	}
	.telegram__link {
		display: inline-block;
		font-size: 16px;
		line-height: 44px;
		font-family: $SF_Pro_Medium, sans-serif;
		padding: 3px 26px 5px 25px;
		background-color: $red;
		border-radius: 333px;
		transition: $transition;
		&:hover {
			animation: 0.3s ease-in bounceOut;
		}
	}

	@include table {
		padding-bottom: 270px;
		.telegram__link {
			font-size: 24px;
			padding: 10px 26px 14px 25px;
		}
		.telegram__img {
			min-width: 870px;
			height: 1000px;
		}
		.telegram__inner {
			padding: 215px 0 184px;
		}
		.telegram__title {
			max-width: 616px;
			margin-bottom: 41px;
			span {
				display: inline;
			}
			.br-mobile {
				display: none;
			}
			.br-desktop {
				display: inline;
			}
		}
	}

	@include desktop {
		padding-bottom: 360px;
		.telegram__img {
			min-width: 1050px;
			height: 1233px;
		}
	}
}