//Preloader
.preloader {
  cursor: none;
  button,
  div,
  a {
    cursor: none;
  }
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  &__video {
    width: 100%;
    height: 100%;
    background-color: #000;

    img {
      object-fit: contain;
    }
		&.white {
			background-color: white;
		}
  }
  .preloader__desktop {
    display: none;
  }
  .preloader__mobile {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  @media (min-width: 479px) {
    .preloader__desktop {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .preloader__mobile {
      display: none;
    }
  }
}
