.brand-preloader.preloader
	.preloader__video
		+imageBrand("preloader-desk1.gif", "preloader-desk").preloader__desktop.brand-preloader__desktop
		+imageBrand("preloader-mob1.gif", "preloader-mob").preloader__mobile.brand-preloader__mobile
