// Sizes
$container: 1750px;
$xxl-min: 1400px;
$xl-min: 1200px;
$lg-min: 992px;
$md-min: 768px;
$sm-min: 576px;

// Colors
$white: #FFFFFF;
$black: #000000;
$red: rgba(188, 16, 16, 1);

// Fonts
$SF_Pro_Regular: 'SF Pro Display Regular';
$SF_Pro_Medium: 'SF Pro Display Medium';
$SF_Pro_Bold: 'SF Pro Display Semibold';
$Manrope: 'Manrope';
$NazarroHandExt: 'Nazarro Hand Ext';

// Border-radius
$borderRadius: 12px;

// Transition
$transition: all ease-in-out .3s;

// Rotate
$rotate: -2.44deg;