@font-face {
	font-family: 'PTSansNarrow Regular';
	src: local('PT Sans Narrow'), local('PTSans-Narrow'), url('../fonts/ptsansnarrow.woff2') format('woff2'), url('../fonts/ptsansnarrow.woff') format('woff'), url('../fonts/ptsansnarrow.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'PTSansNarrow Bold';
	src: local('PT Sans Narrow Bold'), local('PTSans-NarrowBold'), url('../fonts/ptsansnarrowbold.woff2') format('woff2'), url('../fonts/ptsansnarrowbold.woff') format('woff'), url('../fonts/ptsansnarrowbold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Regular.woff2') format('woff2'), url('../fonts/Montserrat-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Giga Sans';
	src: url('../fonts/GigaSans-Regular.eot');
	src: local('Giga Sans'), local('GigaSans-Regular'),
			url('../fonts/GigaSans-Regular.eot?#iefix') format('embedded-opentype'),
			url('../fonts/GigaSans-Regular.woff2') format('woff2'),
			url('../fonts/GigaSans-Regular.woff') format('woff'),
			url('../fonts/GigaSans-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}