html {
	position: relative;
	height: 100%;
	overflow-x: hidden;
}

*::after,
*::before,
a,
p,
ul,
li,
ol,
span,
section,
main,
header,
footer,
svg,
label,
h1,
h2,
h3,
h4,
h5,
h6 {
	padding: 0;
	margin: 0;
}

body {
	font-size: 16px;
	line-height: 20px;
	font-family: $SF_Pro_Regular, sans-serif;
	color: $white;
	background-color: $black;
	overflow-x: hidden;
	word-break: break-word;
	letter-spacing: -0.02em;
	@include table {
		font-size: 18px;
		line-height: 22px;
	}
	@include desktop {
		font-size: 20px;
		line-height: 24px;
	}
}

h1,
h2,
h3,
h4,
h5 {
	font-family: $SF_Pro_Bold, sans-serif;
	text-transform: lowercase;
}

h2 {
	font-size: 32px;
	line-height: 32px;
	@include table {
		font-size: 48px;
		line-height: 48px;
	}
	@include desktop {
		font-size: 64px;
		line-height: 64px;
	}
}

h3 {
	font-size: 24px;
	line-height: 32px;
	@include table {
		font-size: 28px;
		line-height: 36px;
	}
	@include desktop {
		font-size: 32px;
		line-height: 40px;
	}
}

section {
	position: relative;
	overflow: visible;
}

.container {
	max-width: $container;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}

img {
	object-fit: cover;
}

button {
	cursor: pointer;
	outline: none !important;
}

a {
	color: inherit;
	text-decoration: none;
	&:hover {
		color: inherit;
		text-decoration: none;
	}
}

.text-red {
	color: $red;
}

.link {
	display: inline-block;
	font-size: 16px;
	line-height: 44px;
	font-family: $SF_Pro_Bold, sans-serif;
	padding: 5px 37px;
	background-color: $red;
	border-radius: 333px;
	transition: $transition;
	height: 60px;
	white-space: nowrap;
	&:hover {
		animation: 0.3s ease-in bounceOut;
	}

	&.link-white {
		font-size: 20px;
		height: 54px;
		padding: 5px 37px;
		color: rgba(20, 20, 20, 1);
		background-color: $white;
	}

	@include table {
		font-size: 20px;
		padding: 10px 48px 14px 46px;
		height: 68px;
		&.link-white {
			padding: 10px 85px 14px 87px;
			height: 68px;
		}
	}
}

.text {
	display: inline-block;
	white-space: pre-line;
}

span.word-anim {
	opacity: 0;
	animation: fadeIn 0.5s forwards;
}
