#footer {
	padding-bottom: 30px;
	.footer__social-list {
		@include flex();
	}
	.footer__social-item {
		width: fit-content;
		margin: 0 6px;
	}
	.footer__contacts {
		max-width: 232px;
		width: 100%;
		margin: 30px auto 50px;
	}
	.footer__contact {
		width: fit-content;
		margin-bottom: 19px;
		a {
			@include flex(flex-start);
			span {
				margin-left: 12px;
			}
		}
	}
	.footer__copy {
		text-align: center;
		letter-spacing: 0;
	}
	.footer__contact a,
	.footer__copy {
		font-family: $GigaSans, sans-serif;
		font-size: 16px;
		line-height: 20px;
		letter-spacing: 0;
	}
}
