#header {
  padding-top: 44px;
  position: absolute;
  z-index: 999;
  top: 0;
  right: 0;
  left: 0;
  &::before {
    display: none;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
    backdrop-filter: blur(4px);
    background-color: rgba($black, .3);
  }
  &.active {
    position: fixed;
    padding-top: 10px;
    padding-bottom: 10px;
    &::before {
      display: block;
    }
  }
  .header__inner {
    @include flex(space-between, center);
  }
  .header-order--mobile {
    display: block;
  }
  .header-order--desktop {
    display: none;
  }
  .header-order__btn {
    font-size: 12px;
    line-height: 20px;
    font-family: $GigaSans, sans-serif;
    padding: 14px 20px;
    border: $border;
    border-radius: $border-radius;
    background-color: transparent;
    color: white;
    transition: $transition;
    &:hover {
      background-color: $white;
      color: black;
    }
  }

  @include desktop-sm {
    padding-top: 24px;
    padding-bottom: 24px;
    .header-order--mobile {
      display: none;
    }
    .header-order--desktop {
      display: block;
    }
    .header-order__btn {
      font-size: 14px;
      line-height: 20px;
    }
  }
}
