.menu {
	&__links {
		display: flex;
	}
	&__link {
		margin-left: 13px;
		@include flex();
		flex-direction: column;
		cursor: pointer;
	}
	&__link-img {
		@include size(45px, 45px);
	}
	&__link-title {
		font-family: $SF_Pro_Medium, sans-serif;
		font-size: 9.15px;
		line-height: 10.45px;
		letter-spacing: -0.02em;
		color: $white;
	}

	@include table {
		&__link {
			margin-left: 20px;
		}
		&__link-img {
			@include size(69px, 69px);
		}
		&__link-title {
			font-size: 14px;
			line-height: 16px;
			color: rgba(25, 25, 25, 1);
		}
	}
}
