.modal {
	position: fixed;
	z-index: 1000;
  opacity: 0;
  pointer-events: none;
  overflow: hidden;
	transform: scale(0);
	transition: $transition;
	backdrop-filter: blur(8px);
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: $gradient;
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 25px;
	&.active {
    opacity: 1;
    pointer-events: all;
		transform: scale(1);
	}
  &__cap {
    @include flex(space-between);
    padding: 15px 0 25px;
  }
	&__close {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		width: 29px;
		height: 32px;
		cursor: pointer;
		span {
			width: 100%;
			height: 2px;
			background-color: $yellow;
			transition: $transition;
		}
		span:first-child {
			transform: translateY(15px) rotate(45deg);
		}
		span:nth-child(2) {
			transform: translateX(100%);
			opacity: 0;
		}
		span:last-child {
			transform: translateY(-15px) rotate(-45deg);
		}
	}
  &__content {
    @include flex();
    min-height: calc(70%);
    flex-direction: column;
    padding: 20px 0;
  }
  @include table {
    &__content {
      min-height: calc(75%);
    }
  }
  @include desktop {
    &__content {
      min-height: calc(80%);
    }
  }
}

.order-modal {
  &__form {
    margin-bottom: 32px;
  }
  &__btn {
    letter-spacing: 6px;
		width: 100%;
    color: $black;
		background-color: $yellow;
		text-align: center;
		padding: 14px 0;
		margin-bottom: 27px;
    position: relative;
	}
  &__btn-line {
    position: absolute;
    svg {
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
    }
  }
  &__btn-line--left {
    left: 0;
    top: 17px;
    svg {
      width: 51px;
      height: 42px;
    }
  }
  &__btn-line--right {
    right: 0;
    top: -47px;
    svg {
      width: 195px;
      height: 131px;
    }
  }
  &__more {
    position: relative;
    text-align: center;
    font-size: 17px;
    line-height: 16px;
    letter-spacing: 2px;
    cursor: pointer;
    &:before {
      content: "";
      position: absolute;
      bottom: -1px;
      left: 0;
      width: 98%;
      height: 1px;
      background-color: $white;
    }
  }
  &.active {
    .order-modal__btn-line--left {
      svg {
        animation: animLine 2s linear 1.7s forwards;
      }
    }
    .order-modal__btn-line--right {
      svg {
        animation: animLine 2s linear .5s forwards;
      }
    }
  }

  @include table {
    &__form {
      margin-bottom: 72px;
    }
    &__btn-line--left {
      top: 24px;
      svg {
        width: 100px;
        height: 57px;
      }
    }
    &__btn-line--right {
      top: -60px;
      svg {
        width: 250px;
        height: 168px;
      }
    }
    &__more {
      font-size: 19px;
    }
  }
  
  @include desktop {
    &__form {
      margin-bottom: 92px;
    }
    &__btn-line--left svg {
        width: 135px;
        height: 77px;
    }
    &__btn-line--right {
      top: -66px;
      svg {
        width: 280px;
        height: 185px;
      }
    }
    &__more {
      font-size: 21px;
    }
  }
}

.work-modal {
  &__title {
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
  }
  &__top {
    width: 100%;
    @include flex(space-between);
  }
  &__eyes {
    display: flex;
    padding-left: 10px;
  }
  &__eye {
    width: 50px;
    height: 30px;
    path {
      animation: eyesBlink1 4.5s infinite;
    }
  }
  &__eye-wrapper {
    position: relative;
    width: 50px;
    height: 30px;
    .white {
      position: absolute;
      @include size(22px, 22px, 50%);
      top: 4px;
      left: 14px;
      background-color: $white;
    }
    .black {
      position: absolute;
      @include size(18.3px, 18.3px, 50%);
      top: 2px;
      left: 3px;
      background-color: $black;
    }
    .glare {
      position: absolute;
      @include size(9px, 9px, 50%);
      top: 6px;
      right: 15px;
      background-color: $white;
      z-index: 3;
    }
    .white, .black, .glare {
      animation: eyesBlink2 4.5s infinite;
    }
  }
  &__eye-wrapper:first-child {
    margin-right: 15px;
  }
  &__video-wrapper {
    position: relative;
    margin: 23px 47px;
    max-width: 1216px;
    max-height: 690px;
    width: 100%;
    height: 100%;
  }
  &__video {
    width: inherit;
    height: inherit;
  }
  &__bottom {
    position: relative;
    @include flex(space-between, flex-start);
  }
  &__desc {
    letter-spacing: 2px;
  }
  &__nav {
    @include flex();
    padding-left: 10px;
  }
  &__arrow {
		@include flex();
		width: 61px;
		height: 61px;
		background-color: $black;
    cursor: pointer;
    svg {
      width: 34px;
      height: 8px;
    }
	}
  &__arrow--prev {
    margin-right: 15px;
    transform: rotate(180deg);
  }
  &__line {
    display: none;
    position: absolute;
    z-index: -1;
  }

  @include table {
    &__title {
      font-size: 35px;
      line-height: 38px;
      letter-spacing: 6px;
    }
    &__eye {
      width: 75px;
      height: 38px;
    }
    &__eye-wrapper {
      width: 75px;
      height: 38px;
      .white {
        @include size(30px, 30px, 50%);
        left: 22px;
      }
      .black {
        @include size(26.7px, 26.7px, 50%);
      }
      .glare {
        @include size(14px, 14px, 50%);
        right: 24px;
      }
    }
    &__eye-wrapper:first-child {
      margin-right: 20px;
    }
    &__video-wrapper {
      margin: 33px 57px;
    }
    &__arrow {
      width: 91px;
      height: 91px;
      svg {
        width: 50px;
        height: 12px;
      }
    }
    &__arrow--prev {
      margin-right: 23px;
    }
    &__line {
      display: block;
      top: -90px;
      right: 155px;
      svg {
        width: 354px;
        height: 248px;
      }
    }
  }

  @include desktop {
    &__title {
      font-size: 53px;
      line-height: 56px;
      letter-spacing: 8px;
    }
    &__eye {
      width: 98px;
      height: 47px;
    }
    &__eye-wrapper {
      width: 98px;
      height: 47px;
      .white {
        @include size(39px, 39px, 50%);
        top: 4px;
        left: 28px;
      }
      .black {
        @include size(35.3px, 35.3px, 50%);
        top: 2px;
        left: 4px;
      }
      .glare {
        @include size(18px, 18px, 50%);
        top: 5px;
        right: 30px;
      }
    }
    &__eye-wrapper:first-child {
      margin-right: 25px;
    }
    &__video-wrapper {
      margin: 43px 67px;
    }
    &__arrow {
      width: 121px;
      height: 121px;
      svg {
        width: 67px;
        height: 15px;
      }
    }
    &__arrow--prev {
      margin-right: 29px;
    }
    &__line {
      top: -125px;
      right: 225px;
      svg {
        width: 454px;
        height: 348px;
      }
    }
  }
}
