.requests__item {
	padding: 28px 30px;
	position: relative;
	@include flex(flex-start);
	background-color: rgba(20, 20, 20, 1);
	border-radius: $borderRadius;
	position: absolute;
	max-width: 391px;
	width: 100%;
	svg {
		position: absolute;
		bottom: 0;
		right: -15px;
		transform: scaleY(-1) rotate(180deg);
	}
	&:nth-child(1) {
		top: 0;
		left: 10%;
	}
	&:nth-child(2) {
		top: 0;
		right: 10%;
	}
	&:nth-child(3) {
		top: 169px;
		left: 0;
	}
	&:nth-child(4) {
		top: 169px;
		right: 0;
	}
	&:nth-child(5) {
		bottom: 154px;
		left: 0;
	}
	&:nth-child(6) {
		bottom: 154px;
		right: 0;
	}
	&:nth-child(7) {
		bottom: 0;
		left: 10%;
	}
	&:nth-child(8) {
		bottom: 0;
		right: 10%;
	}

	&:nth-child(even) {
		svg {
			right: auto;
			left: -15px;
			transform: scaleY(1) rotate(0);
		}
	}

	@media screen and (min-width: 1600px) {
		&:nth-child(1) {
			left: 24%;
		}
		&:nth-child(2) {
			left: 51%;
			right: auto;
		}
		&:nth-child(3) {
			left: 10%;
		}
		&:nth-child(4) {
			right: 10%;
		}
		&:nth-child(5) {
			left: 15%;
		}
		&:nth-child(6) {
			right: 15%;
		}
		&:nth-child(7) {
			left: 24%;
		}
		&:nth-child(8) {
			left: 51%;
			right: auto;
		}
	}
}
