.services__item {
	border-bottom: 0.53px solid rgba(255, 255, 255, 0.22);
	padding: 16px 0 18px;
	&-text {
		font-family: $SF_Pro_Bold, sans-serif;
		font-size: 32px;
		line-height: 32px;
		letter-spacing: -0.02em;
		position: relative;
		display: inline-block;
	}
	svg {
		position: absolute;
		top: 6px;
		right: -20px;
		width: 13.76px;
		height: 7.21px;
	}

	@include table {
		padding: 30px 0 34px;
		border-width: 1px;
		&-text {
			font-size: 50px;
			line-height: 40px;
		}
		svg {
			right: -35px;
			width: 25.82px;
			height: 13.54px;
		}
	}

	@include desktop-sm {
		&-text {
			font-size: 64px;
			line-height: 40px;
		}
	}

	@media screen and (max-width: 500px) {
		&.spec &-text {
			width: 300px;
		}
		&.spec.spec--1 svg {
			right: 165px;
			top: 41px;
		}
		&.spec.spec--2 svg {
			right: 1px;
			top: 41px;
		}
	}
}
