.services__item {
	position: absolute;
	@include flex(flex-start, flex-start);
	transform: scale(.7);
	span {
		font-size: 10px;
		line-height: 12px;
		color: rgba(255, 255, 255, 0.44);
		margin-right: 5px;
		word-break: normal;
	}
	p {
		width: 100%;
	}
	&--1 {
		opacity: 1 !important;
		p {
			font-size: 32px;
			line-height: 30px;
		}
	}
	&--2 {
		opacity: 1 !important;
		p {
			max-width: 158px;
			font-size: 20px;
			line-height: 30px;
		}
	}
	&--3, &--4 {
		opacity: 1 !important;
		p {
			max-width: 132px;
			font-size: 16px;
			line-height: 16px;
		}
	}
	&--5, &--6 {
		opacity: 0;
		p {
			max-width: 105px;
			font-size: 12px;
			line-height: 24px;
		}
	}
	&--7, &--8 {
		opacity: 0;
		p {
			max-width: 105px;
			font-size: 10px;
			line-height: 10px;
		}
	}
	&--1 {
		left: 29%;
		top: 29%;
	}
	&--2 {
		right: 5%;
		bottom: 20%;
	}
	&--3 {
		right: 8%;
		top: 10%;
	}
	&--4 {
		left: 8%;
		bottom: 35%;
	}
	&--5 {
		left: 30%;
		top: 0;
	}
	&--6 {
		left: 35%;
		bottom: 7%;
	}
	&--7 {
		right: 0;
		bottom: 48%;
	}
	&--8 {
		left: 0;
		top: 20%;
	}

	@include table {
		span {
			font-size: 12px;
			line-height: 16px;
		}
		&--1, &--2 {
			p {
				max-width: 316px;
				font-size: 40px;
				line-height: 40px;
			}
		}
		&--3, &--4 {
			p {
				max-width: 200px;
				font-size: 24px;
				line-height: 24px;
			}
		}
		&--5, &--6, &--7, &--8 {
			p {
				max-width: 167px;
				font-size: 16px;
				line-height: 24px;
			}
		}
		&--2 {
			right: 5%;
			bottom: 20%;
		}
		&--3 {
			right: 20%;
			top: 18%;
		}
		&--4 {
			left: 8%;
			bottom: 24%;
		}
		&--5 {
			left: 45%;
			top: 0;
		}
		&--6 {
			left: 48%;
			bottom: 0;
		}
	}

	@include desktop-sm {
		&--2 {
			right: 17%;
		}
	}
}
