.team__item {
	&-name {
		font-size: 20px;
		line-height: 20px;
		letter-spacing: -0.02em;
		margin-bottom: 4px;
		text-transform: capitalize;
	}
	&-position {
		font-size: 16px;
		line-height: 20px;
		color: $gray;
	}
	&-img__title {
		font-size: 10px;
		line-height: 20px;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		top: 0;
	}
	img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
	&-img {
		position: relative;
		overflow: hidden;
	}
	&-img__person {
		position: absolute;
	}

	&--small {
		.team__item-img {
			width: 126px;
			margin-bottom: 14px;
		}
		.team__item-img__person {
			height: 169px;
			top: 17px;
		}
		.team__item-img__cover {
			height: 194px;
		}
		.team__item-img__title {
			display: none;
		}
	}

	&--big {
		.team__item-img {
			width: 199px;
			margin-bottom: 16px;
		}
		.team__item-img__person {
			height: 265px;
			top: 21px;
		}
		.team__item-img__cover {
			height: 294px;
		}
		.team__item-img__title {
			top: 0;
		}
	}

	&.first,
	&.third {
		.team__item-img__person::before {
			position: absolute;
			content: '';
			inset: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(188, 16, 16, 1);
			mix-blend-mode: overlay;
			z-index: 1;
		}
	}
	&.third {
		margin-top: 48px;
	}

	@include table {
		&-name {
			font-size: 24px;
			margin-bottom: 8px;
		}
		&-img__title {
			font-size: 12px;
			top: 2px;
		}

		&--small {
			.team__item-img {
				width: 200px;
			}
			.team__item-img__person {
				height: 268px;
				top: 25px;
			}
			.team__item-img__cover {
				height: 298px;
			}
			.team__item-img__title {
				display: block;
				top: 4px;
			}
		}

		&--big {
			.team__item-img {
				width: 310px;
			}
			.team__item-img__person {
				height: 413px;
				top: 40px;
			}
			.team__item-img__cover {
				height: 460px;
			}
			.team__item-img__title {
				top: 10px;
			}
		}
	}

	@include desktop {
		&--small {
			.team__item-img {
				width: 270px;
			}
			.team__item-img__person {
				height: 360px;
				top: 30px;
			}
			.team__item-img__cover {
				height: 398px;
			}
			.team__item-img__title {
				top: 4px;
			}
		}

		&--big {
			.team__item-img {
				width: 415px;
			}
			.team__item-img__person {
				height: 553px;
				top: 45px;
			}
			.team__item-img__cover {
				height: 611px;
			}
			.team__item-img__title {
				top: 10px;
			}
		}
	}

	@media screen and (min-width: 1410px) {
		&.first {
			margin-top: 73px;
		}
		&.second,
		&.fourth {
			align-self: flex-end;
		}
		&.third {
			margin-top: 0;
		}
		&.fourth {
			margin-bottom: 104px;
		}
	}
}
