.smm-preloader.preloader
  .preloader__video
    +image("preloader-desk.gif", "preloader-desk").preloader__desktop.smm-preloader__desktop
    +image("preloader-mob.gif", "preloader-mob").preloader__mobile.smm-preloader__mobile

